
position = 100, 348
sideLength = 50
maxSpeed = 300
jumpImpulse = 10000000
texture = player/square_50px

# body
angle = 0
inertiaScale = 1.0
linearDamping = 0.0
angularDamping = 10.0

# fixture
restitution = 0.1
density = 1.0
friction = 0.2
